{% comment %}hello world
{% endcomment %}

<div>
  <ul>
    {%- for tag in collection.all_tags -%}
      {%- if current_tags contains tag -%}
        <li class="active">
          {{ current_tags.tag | link_to_remove_tag: taggg }}
        </li>
      {%- else -%}
        <li>
          {{ current_tags.tag | link_to_add_tag: tag }}
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>

<ul>
  {%- for tag in collection.all_tags -%}
    {%- if current_tags contains tag -%}
      <li class="active">
        {{ current_tags.tag | link_to_remove_tag: taggg }}
      </li>
    {%- else -%}
      <li>
        {{ current_tags.tag | link_to_add_tag: tag }}
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>

<div>
  <ul>
    {%- for tag in collection.all_tags -%}
      {%- if current_tags contains tag -%}
        <li class="active">
          {{ current_tags.tag | link_to_remove_tag: taggg }}
        </li>
      {%- else -%}
        <li>
          {{ current_tags.tag | link_to_add_tag: tag }}
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
