{%- capture grid -%}
  col-{{ section.settings.sm }}
  col-lg-{{ section.settings.md }}
  col-xl-{{ section.settings.lg }}
  py-{{ section.settings.py }}
  px-{{ section.settings.px }}
{%- endcapture -%}

<div class="{{ grid }}" data-controller='form' data-form-type-value='shopify:contact' data-form-response-value='toggle'>

  {%- form 'contact'
    , action: '/pages/customer-support#contact_form'
    , data-form-target: 'form' -%}

    {% if form.posted_successfully? %}
      <p class='note form-success'>
        {{ 'contact.form.post_success' | t }}
      </p>
    {% endif %}

    <!-- FAILED LOGIN -->
    {%- if form.errors -%}
      <output class='form-errors'>
        {{- form.errors | default_errors -}}
      </output>
    {%- endif -%}

    {% for block in section.blocks %}

      {% if block.type == "hidden" %}

        <input class='d-none' type='hidden' name="{{ block.settings.name }}" value="{{ block.settings.value }}" data-form-target='field'>

      {% elsif block.type == 'text' %}

        <div class="col-{{ block.settings.xs }} col-md-{{ block.settings.md }} col-xl-{{ block.settings.xl }}">
          <div class="fm-float mt-{{ block.settings.mt }} mb-{{ block.settings.mb }}">

            <input class='fm-input' data-form-target='field' data-action='form#onInput' type="{{ block.type }}" name="{{ block.settings.name }}" id="{{ block.settings.name }}" placeholder="{{ block.settings.placeholder }}" autocomplete="{{ block.settings.autocomplete }}" minlength="{{ block.settings.minlength }}" maxlength="{{ block.settings.maxlength }}" required="{{ block.settings.required }}">

            <label class='fm-label' for="{{ block.settings.name }}">
              {{ block.settings.placeholder }}
            </label>

          </div>
        </div>

      {% elsif type == 'file' %}

        <div class="col-{{ block.settings.xs }} col-md-{{ block.settings.md }} col-xl-{{ block.settings.xl }}">

          <input class='fm-input' data-form-target='field' data-action='input->form#onInput' type="{{ block.type }}" id="{{ block.settings.name }}" name="{{ block.settings.name }}" multiple="{{ block.settings.multiple }}" required="{{ block.settings.required }}">

          <label for="{{ block.settings.name }}" class='fm-label'>
            {{ block.settings. }}
          </label>

        </div>

      {% elsif block.type == 'email' %}

        <div class="col-{{ block.settings.xs }} col-md-{{ block.settings.md }} col-xl-{{ block.settings.xl }}">
          <div class="fm-float mt-{{ block.settings.mt }} mb-{{ block.settings.mb }}">

            <input class='fm-input' data-form-target='field' data-action='form#onInput' type="{{ block.type }}" name="{{ block.settings.name }}" placeholder="{{ block.settings.placeholder }}" required="{{ block.settings.required }}" autocomplete="{{ block.settings.autocomplete }}">

            <label class='fm-label' for="{{ block.settings.name }}">
              {{ block.settings }}
            </label>

          </div>
        </div>


      {% elsif block.type == 'tel' %}

        <div class="col-{{ block.xs }} col-md-{{ block.settings.md }} col-xl-{{ block.settings.xl }}">
          <div class="fm-float mt-{{ block.settings.mt }} mb-{{ block.settings.mb }}">

            <input class='fm-input upper' data-form-target='field' data-action='form#onInput' type="{{ type }}" name="{{ block.settings.name }}" required="{{ block.settings.required }}" autocomplete="{{ block.settings.autocomplete }}">

            <label class='fm-label' for="{{ block.settings.name }}">
              {{ block.settings }}
            </label>

          </div>
        </div>

      {% elsif block.type == 'textarea' %}

        <div class='col-12'>
          <div class="fm-float mt-{{ block.settings.mt }} mb-{{ block.settings.mb }}">

            <textarea class='fm-input' style="height: {{ block.settings.height }}px;" name="{{ block.settings.name }}" id="{{ block.settings.name }}" placeholder="{{ block.settings.placeholder }}" required="{{ block.settings.required }}"></textarea>

            <label class='fm-label' for="{{ block.settings.name }}">
              {{ block.settings.placeholder }}
            </label>

          </div>
        </div>

      {% elsif block.type == 'dropdown' %}

        <div class='col-12'>

          <div class="col-12 mt-{{ block.settings.mt }} mb-{{ block.settings.mb }}">

            <div class='fm-dropdown fm-float' data-controller='dropdown' data-form-target='dropdown'>

              <button type='button' class='btn btn-dropdown fw-light' data-action='dropdown#toggle' data-dropdown-target='button'>
                {{ block.settings.placeholder }}
              </button>

              <fieldset>
                {%- assign items = block.settings.items
                  | newline_to_br
                  | split: '<br />' -%}

                {% for item in items %}

                  {% liquid
                    # STRIP + CLEAN
                    assign value = item | strip_html | strip
                    assign id = value | handle
                  %}

                  <label class='upper fs-sm' for="{{ id }}">
                    {{ value }}
                  </label>
                  <input class='d-none' type='radio' name="{{ block.settings.name }}" id="{{ id }}" value="{{ value }}" aria-label="{{ value }}" data-form-target='field' data-action='dropdown#select form#onInput' {% if forloop.first and block.settings.required %}required{% endif %}>

                {% endfor %}

              </fieldset>

            </div>
          </div>
        </div>

      {% elsif block.type == 'switch' %}

        <div class="col-12 mt-{{ block.settings.mt }} mb-{{ block.settings.mb }}">
          <div class="fm-switch d-flex ai-center {{ block.settings.row }}">

            <input type='checkbox' class='fm-check-input' data-form-target='field' data-action='form#onInput' id="{{ block.settings.name }}" name="{{ block.settings.name }}" required="{{ block.settings.required }}" {% if block.settings.checked %}checked{% endif %}>

            <label for="{{ block.settings.name }}" class='fm-label ml-3'>
              {{ block.settings }}
            </label>

          </div>
        </div>

      {% endif %}

    {% endfor %}

    {% if section.blocks and section.settings.btn_label %}
      <div class="col-12 {{ section.settings.btn_position }}">
        <button class='btn btn-black fw-light d-flex mt-4 py-3' type='submit' data-form-target='submit'>
          {{ section.settings.btn_label }}
        </button>
      </div>
    {% endif %}

  {% endform %}

  <div class='tc fs-lg ac-center d-none'>

    <div data-form-target='response'></div>

  </div>

</div>

{% schema %}
  {
    "name": "Form",
    "tag": "section",
    "class": "row g-0 jc-start",
    "settings": [
      {
        "type": "header",
        "content": "Response",
        "info": "The response to show after the form was submitted successfully."
      },
      {
        "type": "richtext",
        "id": "response",
        "label": "Response",
        "info": "Shown when form was successful. Use template ${} literals to target form values."
      },
      {
        "type": "text",
        "id": "cta_label",
        "label": "CTA Label",
        "placeholder": "Continue Shopping",
        "info": "Add a CTA Button to the end of the response"
      },
      {
        "type": "url",
        "id": "cta",
        "label": "CTA Link",
        "info": "CTA Link in the response"
      },
      {
        "type": "checkbox",
        "id": "help",
        "label": "Show Help",
        "info": "Whether or not to append help text below response."
      },
      {
        "type": "header",
        "content": "Submit Button",
        "info": "The Submit button which sends the form"
      },
      {
        "type": "text",
        "label": "Label",
        "id": "btn_label"
      },
      {
        "type": "select",
        "id": "btn_position",
        "label": "Position",
        "default": "tr",
        "options": [
          {
            "value": "tl",
            "label": "Left"
          },
          {
            "value": "tc",
            "label": "Center"
          },
          {
            "value": "tr",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Gutter X and Y",
        "info": "Control the margin Y and margin X spacing"
      },
      {
        "type": "range",
        "id": "py",
        "label": "Gutter Y",
        "min": 0,
        "max": 5,
        "step": 1,
        "default": 2
      },
      {
        "type": "range",
        "id": "px",
        "label": "Gutter X",
        "min": 0,
        "max": 5,
        "step": 1,
        "default": 2
      },
      {
        "type": "header",
        "content": "Grid Layout",
        "info": "Control layout and alignment of the grid system"
      },
      {
        "type": "select",
        "id": "align",
        "label": "Alignment",
        "default": "m-auto",
        "options": [
          {
            "value": "mr-auto",
            "label": "Left"
          },
          {
            "value": "m-auto",
            "label": "Center"
          },
          {
            "value": "ml-auto",
            "label": "Right"
          }
        ]
      },
      {
        "type": "range",
        "id": "xl",
        "label": "Desktop Columns",
        "info": "The amount of columns in desktop",
        "min": 1,
        "max": 12,
        "step": 1,
        "default": 12
      },
      {
        "type": "range",
        "id": "md",
        "label": "Tablet Columns",
        "info": "The amount of columns in tablet",
        "min": 1,
        "max": 12,
        "step": 1,
        "default": 12
      },
      {
        "type": "range",
        "id": "xs",
        "label": "Mobile Columns",
        "info": "The amount of columns in mobile",
        "min": 1,
        "max": 12,
        "step": 1,
        "default": 12
      }
    ],
    "blocks": [
      {
        "type": "textarea",
        "name": "Textarea",
        "settings": [
          {
            "type": "header",
            "content": "Textarea Input",
            "info": "Renders a Textarea container"
          },
          {
            "type": "text",
            "id": "label",
            "label": "Label",
            "info": "Defines the label of the textarea"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "info": "Defines the textarea name",
            "default": "message"
          },
          {
            "type": "text",
            "id": "placeholder",
            "label": "Placeholder",
            "info": "Describes an expected value for the textarea"
          },
          {
            "type": "checkbox",
            "id": "required",
            "info": "The form requires this input to be filled",
            "label": "Required",
            "default": true
          },
          {
            "type": "header",
            "content": "Layout",
            "info": "Control layout and alignment of the grid system."
          },
          {
            "type": "range",
            "id": "height",
            "label": "Height",
            "info": "The height of the textarea input",
            "min": 1,
            "max": 100,
            "step": 1,
            "default": 25
          },
          {
            "type": "header",
            "content": "Gutter",
            "info": "Control gutter spacing"
          },
          {
            "type": "range",
            "id": "mt",
            "label": "Top",
            "info": "The margin to apply from top",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 0
          },
          {
            "type": "range",
            "id": "mb",
            "label": "Bottom",
            "info": "The margin to apply from bottom",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 3
          }
        ]
      },
      {
        "type": "text",
        "name": "Input",
        "settings": [
          {
            "type": "header",
            "content": "Input Field",
            "info": "A text input field to render in the form."
          },
          {
            "type": "text",
            "id": "placeholder",
            "label": "Placeholder",
            "info": "Describes an expected value of the input"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "info": "Defines the name of the input field"
          },
          {
            "type": "select",
            "id": "autocomplete",
            "label": "Autocomplete",
            "info": "See [Values](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete#values) for reference.",
            "default": "off",
            "options": [
              {
                "value": "off",
                "label": "Disabled"
              },
              {
                "value": "on",
                "label": "Enabled"
              },
              {
                "value": "name",
                "label": "Name"
              },
              {
                "value": "given-name",
                "label": "First Name"
              },
              {
                "value": "additional-name",
                "label": "Middle name"
              },
              {
                "value": "family-name",
                "label": "Last Name"
              },
              {
                "value": "nickname",
                "label": "Nickname or Handle"
              },
              {
                "value": "organization",
                "label": "Company or Oganization name"
              },
              {
                "value": "street-address",
                "label": "Street Address"
              },
              {
                "value": "postal-code",
                "label": "Postal Code"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "Required",
            "default": false,
            "info": "Whether or not the value is required"
          },
          {
            "type": "header",
            "content": "Validation",
            "info": "Validation control for expected input text value"
          },
          {
            "type": "range",
            "id": "minlength",
            "label": "Minimum Length",
            "info": "The minimum number of characters required",
            "min": 1,
            "max": 75,
            "step": 1,
            "default": 1
          },
          {
            "type": "range",
            "id": "maxlength",
            "label": "Maximum Length",
            "info": "The maximum number of characters required",
            "min": 1,
            "max": 75,
            "step": 1,
            "default": 50
          },
          {
            "type": "header",
            "content": "Gutter",
            "info": "Control gutter spacing"
          },
          {
            "type": "range",
            "id": "mt",
            "label": "Top",
            "info": "The margin to apply from top",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 0
          },
          {
            "type": "range",
            "id": "mb",
            "label": "Bottom",
            "info": "The margin to apply from bottom",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 3
          },
          {
            "type": "header",
            "content": "Layout",
            "info": "Control layout and alignment of the grid system"
          },
          {
            "type": "range",
            "id": "xl",
            "label": "Desktop Columns",
            "info": "The amount of columns in desktop",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 12
          },
          {
            "type": "range",
            "id": "md",
            "label": "Tablet Columns",
            "info": "The amount of columns in tablet",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 12
          },
          {
            "type": "range",
            "id": "xs",
            "label": "Mobile Columns",
            "info": "The amount of columns in mobile",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 12
          }
        ]
      },
      {
        "type": "email",
        "name": "Email",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "E-mail Address",
            "info": "An E-mail address input field to render in the form."
          },
          {
            "type": "text",
            "id": "placeholder",
            "label": "Placeholder",
            "info": "The placeholder (label) value",
            "default": "Email Address"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "info": "Defines the name of the input field",
            "default": "email"
          },
          {
            "type": "checkbox",
            "id": "autocomplete",
            "label": "Autocomplete",
            "default": false,
            "info": "Whether or not to allow autocompletion"
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "Required",
            "default": true,
            "info": "Whether or not the value is required"
          },
          {
            "type": "checkbox",
            "id": "multiple",
            "label": "Multiple",
            "default": false,
            "info": "Whether to allow multiple emails be defined"
          },
          {
            "type": "header",
            "content": "Gutter",
            "info": "Control gutter spacing"
          },
          {
            "type": "range",
            "id": "mt",
            "label": "Top",
            "info": "The margin to apply from top",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 0
          },
          {
            "type": "range",
            "id": "mb",
            "label": "Bottom",
            "info": "The margin to apply from bottom",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 3
          },
          {
            "type": "header",
            "content": "Layout",
            "info": "Control layout and alignment of the grid system"
          },
          {
            "type": "range",
            "id": "xl",
            "label": "Desktop Columns",
            "info": "The amount of columns in desktop",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 12
          },
          {
            "type": "range",
            "id": "md",
            "label": "Tablet Columns",
            "info": "The amount of columns in tablet",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 12
          },
          {
            "type": "range",
            "id": "xs",
            "label": "Mobile Columns",
            "info": "The amount of columns in mobile",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 12
          }
        ]
      },
      {
        "type": "tel",
        "name": "Telephone",
        "settings": [
          {
            "type": "header",
            "content": "Phone Number Field",
            "info": "A telephone number input field to render in the form."
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "info": "Defines the name of the telephone field",
            "default": "telephone"
          },
          {
            "type": "text",
            "id": "placeholder",
            "label": "Placeholder",
            "info": "Describes an expected value of the input"
          },
          {
            "type": "checkbox",
            "id": "autocomplete",
            "label": "Autocomplete",
            "default": false,
            "info": "Whether or not to allow autocompletion"
          },
          {
            "type": "checkbox",
            "id": "code",
            "label": "Country Code",
            "default": false,
            "info": "Whether or not to provide a country calling code"
          },
          {
            "type": "checkbox",
            "id": "require",
            "label": "Require",
            "default": false,
            "info": "Whether or not the value is required"
          },
          {
            "type": "header",
            "content": "Gutter",
            "info": "Control gutter spacing"
          },
          {
            "type": "range",
            "id": "mt",
            "label": "Top",
            "info": "The margin to apply from top",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 0
          },
          {
            "type": "range",
            "id": "mb",
            "label": "Bottom",
            "info": "The margin to apply from bottom",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 3
          },
          {
            "type": "header",
            "content": "Layout",
            "info": "Control layout and alignment of the grid system"
          },
          {
            "type": "range",
            "id": "xl",
            "label": "Desktop Columns",
            "info": "The amount of columns in desktop",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 12
          },
          {
            "type": "range",
            "id": "md",
            "label": "Tablet Columns",
            "info": "The amount of columns in tablet",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 12
          },
          {
            "type": "range",
            "id": "xs",
            "label": "Mobile Columns",
            "info": "The amount of columns in mobile",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 12
          }
        ]
      },
      {
        "type": "number",
        "name": "Number",
        "settings": [
          {
            "type": "header",
            "content": "Number Input",
            "info": "Renders a Numeric input field"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "info": "Defines the name of the number field"
          },
          {
            "type": "text",
            "id": "placeholder",
            "label": "Placeholder",
            "info": "The placeholder to render"
          },
          {
            "type": "checkbox",
            "id": "required",
            "info": "The form requires this input to be filled",
            "label": "Required"
          },
          {
            "type": "header",
            "content": "Gutter",
            "info": "Control gutter spacing"
          },
          {
            "type": "range",
            "id": "mt",
            "label": "Top",
            "info": "The margin to apply from top",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 0
          },
          {
            "type": "range",
            "id": "mb",
            "label": "Bottom",
            "info": "The margin to apply from bottom",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 3
          }
        ]
      },
      {
        "type": "switch",
        "name": "Switch",
        "settings": [
          {
            "type": "header",
            "content": "Switch Input",
            "info": "A toggle switch (checkbox) input field"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "info": "Defines the name of the switch field"
          },
          {
            "type": "text",
            "id": "label",
            "label": "Label",
            "info": "The label which describes the switch"
          },
          {
            "type": "checkbox",
            "id": "consent",
            "info": "Whether or not the switch is a consent",
            "label": "Consent (GDRP)",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "default",
            "info": "The default state to use",
            "label": "on/off",
            "default": false
          },
          {
            "type": "header",
            "content": "Layout and Sizing",
            "info": "Control layout, style and/or alignment of the switch"
          },
          {
            "type": "select",
            "id": "row",
            "label": "Position",
            "default": "jc-between",
            "options": [
              {
                "value": "jc-between",
                "label": "Between"
              },
              {
                "value": "jc-start",
                "label": "Left"
              },
              {
                "value": "jc-center",
                "label": "Center"
              },
              {
                "value": "jc-end",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "size",
            "label": "Sizing",
            "default": "fm-switch",
            "options": [
              {
                "value": "fm-switch-sm",
                "label": "Between"
              },
              {
                "value": "fm-switch",
                "label": "Medium"
              },
              {
                "value": "fm-switch-lg",
                "label": "Large"
              }
            ]
          },
          {
            "type": "header",
            "content": "Gutter",
            "info": "Control gutter spacing"
          },
          {
            "type": "range",
            "id": "mt",
            "label": "Top",
            "info": "The margin to apply from top",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 0
          },
          {
            "type": "range",
            "id": "mb",
            "label": "Bottom",
            "info": "The margin to apply from bottom",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 3
          }
        ]
      },
      {
        "type": "checkbox",
        "name": "Checkbox",
        "settings": [
          {
            "type": "header",
            "content": "Checkbox Input",
            "info": "Renders a traditional Checkout input field"
          },
          {
            "type": "text",
            "id": "label",
            "label": "Label",
            "info": "The Label to render atop of the input (optional)"
          },
          {
            "type": "checkbox",
            "id": "required",
            "info": "The form requires this input to be filled",
            "label": "Required"
          },
          {
            "type": "checkbox",
            "id": "validate",
            "info": "Whether or not this input should be validated",
            "label": "Validate"
          },
          {
            "type": "header",
            "content": "Gutter",
            "info": "Control gutter spacing"
          },
          {
            "type": "range",
            "id": "mt",
            "label": "Top",
            "info": "The margin to apply from top",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 0
          },
          {
            "type": "range",
            "id": "mb",
            "label": "Bottom",
            "info": "The margin to apply from bottom",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 3
          }
        ]
      },
      {
        "type": "dropdown",
        "name": "Dropdown",
        "settings": [
          {
            "type": "header",
            "content": "Option Dropdown",
            "info": "A list of options to select from"
          },
          {
            "type": "textarea",
            "id": "items",
            "label": "items",
            "info": "Separate each item to render on newline"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "info": "Defines the name of the dropdown."
          },
          {
            "type": "text",
            "id": "placeholder",
            "label": "Placeholder",
            "info": "Defines the placeholder of the dropdown."
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "Required",
            "default": true,
            "info": "Whether or not to require a selection"
          },
          {
            "type": "header",
            "content": "Gutter",
            "info": "Control gutter spacing"
          },
          {
            "type": "range",
            "id": "mt",
            "label": "Top",
            "info": "The margin to apply from top",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 0
          },
          {
            "type": "range",
            "id": "mb",
            "label": "Bottom",
            "info": "The margin to apply from bottom",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 3
          },
          {
            "type": "header",
            "content": "Layout",
            "info": "Control layout and alignment of the grid system"
          },
          {
            "type": "range",
            "id": "xl",
            "label": "Desktop Columns",
            "info": "The amount of columns in desktop",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 12
          },
          {
            "type": "range",
            "id": "md",
            "label": "Tablet Columns",
            "info": "The amount of columns in tablet",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 12
          },
          {
            "type": "range",
            "id": "xs",
            "label": "Mobile Columns",
            "info": "The amount of columns in mobile",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 12
          }
        ]
      },
      {
        "type": "hidden",
        "name": "Hidden",
        "settings": [
          {
            "type": "header",
            "content": "Hidden Field",
            "info": "A hidden text field pre-populated with a value"
          },
          {
            "type": "text",
            "id": "value",
            "label": "Value",
            "info": "The value of the hidden input field"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "info": "Defines the name of the input field"
          }
        ]
      }
    ]
  }
{% endschema %}
