{% liquid
  if section.settings.text_size == 6
    assign text_size = section.settings.text_size | prepend: "h"
  else
    assign text_size = 6 | minus: section.settings.text_size | prepend: "h"
  endif
%}


{{ 'accessibility' }}

{% render '' %}

{% render '' %}

{{ article. }}

<div class="row jc-center py-{{ section.settings.gutter }}">
  {% for b in section.blocks %}

    {{ b }}

    {{ b.id }}

    {% liquid

      # comment

      capture gutter
        if forloop.first
          echo section.settings.gutter | prepend: "pr-"
        elsif forloop.last
          echo section.settings.gutter | prepend: "pl-"
        else
          echo section.settings.gutter | prepend: "px-"
        endif
      endcapture
    %}


    {{  }}

  {% endfor %}
</div>


{% schema %}
  {
    "name": "foo",
    "disabled_on": {
      "groups": []
    },
    "settings": [
      {
        "type": "article",
        "id": "",
        "label": ""
      }
      {
        "type": "color_scheme",
        "id": "foo_bar_bar",
        "label": "Foo Bar Bar",
        "default": "#ccc"
      }

    ]
  }
{% endschema %}
