<html>

  <head>
    <script>
    var test = {{ 'products.product.add_to_cart' | t }};
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t }},
        soldOut: '',
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };

    document.documentElement.className = document
      .documentElement
      .className
      .replace('no-js', 'js');

    </script>
    <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t }},
        soldOut: '',
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };

    document.documentElement.className = document
      .documentElement
      .className
      .replace('no-js', 'js');

    </script>

  </head>
  <body>

    {%- for taggg in collection.all_tags -%}

      {%- if current_tags contains taggg -%}
        {{ current_tags.tag | link_to_remove_tag: taggg }}
      {%- else -%}
        {{ current_tags.tag | link_to_add_tag: tag }}
      {%- endif -%}

    {%- endfor -%}

  </body>
</html>
