<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">

  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
      {%- if template == 'search' and search.performed == true -%}
        {{ 'general.search.heading' | t: count: search.results_count }}:
        {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {%- else -%}
        {{ page_title }}
      {%- endif -%}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%}
        &ndash;
        {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash;
        {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash;
        {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- include 'social-meta-tags' -%}

    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    <script>

    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
      }
    }
    </script>

    {%- if template.directory == 'customers' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}
  </head>

  <body class="template-{{ template | split: '.' | first }}">

    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

    <div id="SearchDrawer" class="search-bar drawer drawer--top" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}">
      <div class="search-bar__table">
        <div class="search-bar__table-cell search-bar__form-wrapper">
          <form action="/search" class="search search-bar__form" method="get" role="search">
            <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
            <button class="search-bar__submit search__submit btn--link" type="submit">
              {% include 'icon-search' %}
              <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
            </button>
          </form>
        </div>
        <div class="search-bar__table-cell text-right">
          <button class="btn--link search-bar__close js-drawer-close" type="button">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
          </button>
        </div>
      </div>
    </div>

    {% section 'header' %}

    <div class="page-container" id="PageContainer">

      <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}

      <div aria-hidden="true" class="visually-hidden" id="slideshow-info">
        {{- 'sections.slideshow.navigation_instructions' | t -}}
      </div>

    </div>

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
      <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
    </ul>
  </body>

</html>
