{%- comment -%}
Stream Tags
{%- endcomment -%}

<stream prop="">

</stream>

<snippet name="">

</snippet>

<template name="testing" class="template-class">
  template-class
</template>


<stream>
{

  import: @stream('import'),
  import: @stream('import/slash'),
  import: @stream('import.dot'),
  import: @stream('import-dash'),

  number: 12345678,
  boolean: false,
  boolean: true,

  liquid: {{ section.settings.foo }},
  liquid: {{ section.settings.bar }},
  liquid: [
    {%- for link in linklists[section.settings.menu].links -%}
      {
        title: {{ link.title | json }},
        url: {{ link.url | json }}
      }
    {%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ]
}
</stream>


<stream prop="test">
{

  none: "non quoted property",

  'single': 'quotes',
  "double": "quote",
  1_foo: "valid",

  -test: "invalid",
  foo-bar: "invalid",


}
</stream>



{%- comment -%}
Schema Tags
{%- endcomment -%}

<!-- Import Tag -->
<schema>
  @schema('test')
</schema>

<!-- Standard -->
<schema>
{
  "foo": "bar",
}
</schema>

<!-- Property Import -->
<schema for="blocks">
{
  "foo": "test",
}
</schema>

{%- comment -%}
Partial Tag
{%- endcomment -%}
<partial>

  {% for tag in collection.all_tags %}
  {% if current_tags contains tag %}
  <li class="active">
    {{ tag | link_to_remove_tag: tag }}
  </li>
  {% else %}
  <li>
    {{ tag | link_to_add_tag: tag }}
  </li>
  {% endif %}
  {% endfor %}

</partial>

{%- comment -%}
Template Tag
{%- endcomment -%}
<template name="section-name">

  <!--  Accepted Import Tags -->
  @partial('filename')
  @partial('path/filename')
  @partial('file-name')
  @partial('file_name.extention')
  @partial('filename/0123456789')

  <!--  Rejected Import Tags -->
  @partial('filename+')
  @partial('filename*')
  @partial('filename%')
  @partial('filename#')
  @partial('filename~')

  <!-- Liquid Tags -->
  {%- for tag in collection.all_tags -%}
  {% if current_tags contains tag %}
  <li class="active">
    {{ tag | link_to_remove_tag: tag }}
  </li>
  {% else %}
  <li>
    {{ tag | link_to_add_tag: tag }}
  </li>
  {% endif %}
  {%- endfor -%}

  {% for item in collection %}
  <h1>Folding</h1>
  {% endfor %}

</template>

{%- comment -%}
Snippet Tag
{%- endcomment -%}
<snippet name="test">

  <!--  Accepted Import Tags -->
  @partial('filename')
  @partial('path/filename')
  @partial('file-name')
  @partial('file_name.extention')
  @partial('filename/0123456789')

  <!--  Rejected Import Tags -->
  @partial('filename+')
  @partial('filename*')
  @partial('filename%')
  @partial('filename#')
  @partial('filename~')

  <!-- Liquid Tags -->
  {%- if section.settings.logo != blank -%}
  {{ section.settings.logo }}
  {%- else -%}
  {%- assign data_logo = shop.name -%}
  <h1>{{ data_logo }} Hello World</h1>
  {%- endif -%}

  <!-- HTML Tags -->
  <div class="foo">
    <h1>Hello World</h1>
  </div>

</snippet>

{%- comment -%}
Styles Tag SCSS/CSS
{%- endcomment -%}
<style lang="scss">
  $position: relative;
  $height: 50px;
  $width: 100%;
  $black: #000000;

  .foo {
    position: $position;

    .bar {
      height: $height;
      width: $width;

      &:hover {
        color: $black;
      }
    }

  }
</style>

{%- comment -%}
Style Tag CSS
{%- endcomment -%}
<style>
  .foo {
    position: relative;
  }

  .bar {
    height: 50px;
    width: 100%;
  }
</style>

{%- comment -%}
JavaScript Tags
{%- endcomment -%}
<script>
  /* comment */
  const bar = "string"
  const foo = true

  // comment
  function helloWorld() {
    return {
      foo: "bar",
      bar: true
    }
  }
</script>

{%- comment -%}
Typescript Tags
{%- endcomment -%}
<script lang="ts">
  /* comment */
  interface Person {
    firstName: string;
    lastName: string;
  }

  function greeter(person: Person) {
    return "Hello, " + person.firstName + " " + person.lastName;
  }

  let user = {
    firstName: "Jane",
    lastName: "User"
  };

  document.body.innerHTML = greeter(user);
</script>
