<div class="col-{{ block.settings.xs }} col-md-{{ block.settings.md }} col-xl-{{
     block.settings.xl }}">
  <div class="fm-float mt-{{ block.settings.mt }} mb-{{ block.settings.mb }}">

    <input
      autocomplete="{{ block.settings.autocomplete }}"
      class="fm-input"
      data-action="form#onInput"
      data-form-target="field"
      id="{{ block.settings.name }}"
      maxlength="{{ block.settings.maxlength }}"
      minlength="{{ block.settings.minlength }}"
      name="{{ block.settings.name }}"
      placeholder="{{ block.settings.placeholder }}"
      required="{{ block.settings.required }}"
      type="{{ block.type }}" />

    {% render 'brackets' %}

    <label class="fm-label"
      for="{{ block.settings.name }}">
      {{ block.settings.placeholder }}
    </label>

  </div>
</div>
